<div class="features-wrapper">

   <div class="title-container">
      <div class="twins">
         <h3 class="title"> Sports </h3>
         <hr class= "title-lign">
      </div>   
         <p class="para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
         <div class="title-underline"> </div>
      </div>

   <div class="card-container">
      <div class="card">
         <div class="card-element">
           <div class="background">
           <div class="circle circle-futsal"></div>
           <div class="circle circle-futsal"></div>
            <div class="card-img"> <%= image_tag "Futsal-card.png"%></div>
           </div> 
            <h3 class="text-card"> Futsal </h3>
         </div>
      </div>

      <div class="card">
         <div class="card-element">
            <div class="background">
               <div class="circle circle-workout"></div>
               <div class="circle circle-workout"></div>
               <div class="card-img"><%= image_tag "Gymming-card.png" %></div>
            </div>   
            <h3 class="text-card"> Workout </h3>
         </div>
      </div>

      <div class="card">
         <div class="card-element">
            <div class="background">
            <div class="circle circle-running"></div> 
            <div class="circle circle-running"></div> 
               <div class="card-img"><%= image_tag "running-card.png" %></div>
            </div>   
            <h3 class="text-card"> Running </h3>
         </div>
      </div>

      <div class="card">
         <div class="card-element">
            <div class="background">
            <div class="circle circle-climbing"></div>
            <div class="circle circle-climbing"></div>
               <div class="card-img"> <%= image_tag "Sports-icon.png" %></div>
            </div>   
            <h3 class="text-card"> Climbing</h3>
         </div>
      </div>

      <div class="card">
         <div class="card-element">
          <div class="background">
           <div class="circle circle-tennis"></div>
           <div class="circle circle-tennis"></div>
            <div class="card-img"><%= image_tag "Tennis-card.png" %></div> 
          </div>  
          <h3 class="text-card"> Tennis </h3>
         </div>
      </div>

   </div>

</div>