<div class="sports-wrapper">

   <div class="title-container">
      <div class="twins">
         <h3 class="title"> Sports </h3>
         <div class= "title-lign"></div>
      </div>   
         <p class="para"> Voici tout les sports proposés sur le site</p>
         <div class="title-underline"> </div>
      </div>

   <div class="cart-contain">
      <div class="cart">
        
           <div class="back">
           <div class="circle circle-futsal"></div>
           <div class="circle circle-futsal"></div>
            <div class="cart-img"> <%= image_tag "Futsal-card.png"%></div>
           </div> 
            <h3 class="text-cart"> Futsal </h3>
         
      </div>

      <div class="cart">
        
            <div class="back">
               <div class="circle circle-workout"></div>
               <div class="circle circle-workout"></div>
               <div class="cart-img"><%= image_tag "Gymming-card.png" %></div>
            </div>   
            <h3 class="text-cart"> Workout </h3>
         
      </div>

      <div class="cart">
        
            <div class="back">
            <div class="circle circle-running"></div> 
            <div class="circle circle-running"></div> 
               <div class="cart-img"><%= image_tag "running-card.png" %></div>
            </div>   
            <h3 class="text-cart"> Running </h3>
         
      </div>

      <div class="cart">
            <div class="back">
            <div class="circle circle-climbing"></div>
            <div class="circle circle-climbing"></div>
               <div class="cart-img"> <%= image_tag "Sports-icon.png" %></div>
            </div>   
            <h3 class="text-cart"> Climbing</h3>
         
      </div>

      <div class="cart">
        
          <div class="back">
            <div class="circle circle-tennis"></div>
            <div class="circle circle-tennis"></div>
               <div class="cart-img"><%= image_tag "Tennis-card.png" %></div> 
          </div>  
          <h3 class="text-cart"> Tennis </h3>
        
      </div>

   </div>

</div>