<div class="testimonies-container">
    <div class="title-container">
      <div class="twins">
         <h3 class="title"> Témoignages </h3>
         <div class= "title-lign"></div>
      </div>   
         <p class="para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
         <div class="title-underline"> </div>
    </div>

    <div class="image-container">
      <div class= "back-img"><%=image_tag "Ellipse.png"%></div>

         <div class="cardy cardy-1">
            <div class="top-cardy">
            <%= image_tag "Ellipse_8.png"%>
            <h4>Lydia Lachenaud</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum </p>
         </div>

         <div class="cardy cardy-2">
            <div class="top-cardy">
               <%= image_tag "Ellipse_6.png"%>
                  <h4>Julien Armagnac</h4>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum </p>
         </div>

         <div class="cardy cardy-3">
            <div class="top-cardy">
               <%= image_tag "Ellipse_7.png"%>
               <h4>Joffrey Freixanet</h4>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star"></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum </p>
         </div>

         <div class="cardy cardy-4">
            <div class="top-cardy">
               <%= image_tag "Ellipse_5.png" %>
               <h4>Eva Laurent</h4>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
             </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum </p>
         </div>

         <div class="cardy cardy-5">
         <div class="top-cardy">
            <%= image_tag "Ellipse_4.png" %>
            <h4>Hatem Griby</h4>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
         </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodLorem ipsum </p>
         </div>
    </div>
</div>    