<div id="navigation-testimonies" class="testimonies-container">
    <div class="title-container">
      <div class="twins">
         <h3 class="title"> Témoignages </h3>
         <div class= "title-lign"></div>
      </div>   
         <p class="para"> Quelques témoignages de la part de nos utilisateurs les plus fidèles </p>
         <div class="title-underline"> </div>
    </div>

    <div class="image-container">
      <div class= "back-img"><%=image_tag "Ellipse.png"%></div>

         <div class="cardy cardy-1">
            <div class="top-cardy">
            <%= image_tag "Ellipse_8.png"%>
            <h4>Lydia Lachenaud</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            </div>
            <p>Une très belle expérience, l'un des meilleurs site que j'ai pu voir et utiliser de toute ma vie. J'ai fais de très belles rencontres sportives et je me suis dépassée</p>
         </div>

         <div class="cardy cardy-2">
            <div class="top-cardy">
               <%= image_tag "Ellipse_6.png"%>
                  <h4>Julien Armagnac</h4>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
            </div>
            <p> Vraiment Génial ! J'ai pu faire énormément de sport en duo et en trio je recommande fortement ce site, j'ai aussi passé de très bonnes 3ème mi-temps 🍺</p>
         </div>

         <div class="cardy cardy-3">
            <div class="top-cardy">
               <%= image_tag "Ellipse_7.png"%>
               <h4>Joffrey Freixanet</h4>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star"></span>
            </div>
            <p> Waouuuw je n'ai jamais vu un site aussi bien réussi en terme de design et d'utilisation, je le recommande à toutes les personnes qui veulent faire du sport à plusieurs, AMAZING!! </p>
         </div>

         <div class="cardy cardy-4">
            <div class="top-cardy">
               <%= image_tag "Ellipse_5.png" %>
               <h4>Eva Laurent</h4>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
             </div>
            <p> J'aime bien! Cependant j'ai eu un coach très dur avec moi, certes il voulait me faire progresser mais ça allait trop vite pour moi, il n'a pas su appréhender mon niveau, mais je recommande ce site !</p>
         </div>

         <div class="cardy cardy-5">
         <div class="top-cardy">
            <%= image_tag "Ellipse_4.png" %>
            <h4>Hatem Griby</h4>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
         </div>
            <p> INCROYABLE !! J'ai pu faire du sport avec des personnes vraiment cool et sociables, de très belles rencontres et de grosses séances de sport, j'attends la prochaine avec plus d'impatience que le prochain scan de One Piece !</p>
         </div>
    </div>
</div>    