<%if !current_user %>
   <div>
      <%= render 'navbar_lp'%>
      <%= render 'hero_lp'%>
      <%= render 'features_lp'%>
      <%= render 'sports_lp'%>
      <%= render 'convinced_lp'%>
      <%= render 'footer_lp' %>
   </div>
<%end%>