<%if !current_user %>
   <div class="container-fluid">
      <%= render 'navbar_lp'%>
      <%= render 'hero_lp'%>
      <%= render 'features_lp'%>
      <%= render 'sports_lp'%>
      <%= render 'convinced_lp'%>
      <%= render 'testimonies_lp' %>
      <%= render 'contact_lp' %>
      <%= render 'footer_lp' %>
   </div>
<%end%>