<p>Expéditeur: <%=@message.sender.full_name%></p>
<p>Destinataire: <%=@message.recipient.full_name%></p>
<h4>Objet: <%=@message.object%></h4>
<p>Message: <%=@message.body%></p>

<%= render partial: "message_buttons", locals: {message: @message}%>
