
<div class="card">
   <p class="card-title"> Geolocalisation </p>
   <p class="card-icon"> <i class="fa-solid fa-bell"></i> </p> 
  
   <div class="wrapper-container">
      <% @sports.each do |sport|%>
         <div class="form-check checkbox-container-<%=sport.name%>" id="checkbox-container-<%=sport.name%>">
            <input type="checkbox" class="form-check-input category-checkboxes" id="<%=sport.name%>">
            <label class="form-check-label" ><%=sport.name%></label>
            <div class="ghost-check"> </div>
         </div>
      <%end%>
   </div>

   <div class="container-geoloc" >
      <div class="list-container">
         <% if @users_around%>
         <h2> Autour de toi (scroll) </h2>
            <ul class="scrollable-list">
            <% @users_around.each do |user| %>
               <li class="user-list <%= user.sports_list.join(" ")%>"> 
               <div class="d-flex">
                  <%= link_to user.full_name, user_path(user),  class:"user-link" %> 
                  </div>
               </li>
               </li>
          <%end%>
          </ul>
         <%else%>
         <div>
            <p> Renseigne ton adresse pour voir les fit featers autour de toi! </p>
         </div>
         <%end%>
      </div>

      <%if @user.longitude %>
         <div id='map' class="mapbox-container"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
               data-markers="<%= @markers.to_json %>"
               data-user-lng="<%= @user.longitude%>"
               data-user-lat="<%= @user.latitude%>">
         </div>
      <%end%>
   </div>
</div>
<%= javascript_include_tag 'map_box'%>
<%= javascript_include_tag 'map_filter'%>