
<div class="card">
   <p class="card-title"> Geolocalisation </p>
   <p class="card-icon"> <i class="fa-solid fa-bell"></i> </p> 
   <div class="container-geoloc" >
      <div class="list-container">
         <h2> Autour de toi (scroll) </h2>
            <% if @markers%>
            <ul class="scrollable-list">
            <% @markers.each do |marker| %>
               <li> 
                  <%= link_to marker[:name], user_path(marker[:user_id]),  class:"user-link" %> 
               </li>
          <%end%>
          </ul>
         <%end%>
      </div>
      <%if @user.longitude %>
         <div id='map' class="mapbox-container"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"
               data-markers="<%= @markers.to_json %>"
               data-user-lng="<%= @user.longitude%>"
               data-user-lat="<%= @user.latitude%>">
         </div>
      <%else%>
         <div>
         <p> Carte non disponible</p>
         <p> Renseigne ton adresse pour voir les fit featers autour de toi!</p> 
         </div>
      <%end%>
   </div>
</div>
<%= javascript_include_tag 'map_box'%>