  <div class="card" >
      <p class="card-title"> Performance </p>
      <p class="card-icon"> <i class="fa-solid fa-pen-to-square" ></i> </p>
      

      <div class="tab">
        <button class="tablinks test" onclick="openPerf(event, 'Climbing')" id="defaultOpen">Climbing</button>
        <button class="tablinks" onclick="openPerf(event, 'Running')">Running</button>
        <button class="tablinks" onclick="openPerf(event, 'Workout')">Workout</button>
        <button class="tablinks" onclick="openPerf(event, 'Tennis')">Tennis</button>
      </div>

      <div id="Climbing" class="tabcontent" style="display:block">
      <%if !@user.climbing_perf.empty?%>
        <%= render partial: 'users/performances/climbing_edit_form', locals: {user: @user} %>
      <%else%>
        <div class="">Veux tu faire ce sport ?</div>
        <%= link_to 'Je commence l\'escalade !', sport_users_path(sport: :Climbing), method: :post%>
      <%end%>
      </div>

      <div id="Running" class="tabcontent">
      <%if !@user.running_perf.empty?%>
        <%= render partial: 'users/performances/running_edit_form', locals: {user: @user} %>
      <%else%>
        <div class="tbd">Veux tu faire ce sport ?</div>
        <%= link_to 'Je commence le Running !', sport_users_path(sport: :Running), method: :post%>
      <%end%>
      </div>

      <div id="Workout" class="tabcontent">
      <%if !@user.workout_perf.empty?%>
        <%= render partial: 'users/performances/workout_edit_form', locals: {user: @user} %>
        <%else%>
        <div class="tbd">Veux tu faire ce sport ?</div>
        <%= link_to 'Je commence le Workout !', sport_users_path(sport: :Workout), method: :post%>
      <%end%>
      </div>

      <div id="Tennis" class="tabcontent">
      <%if !@user.tennis_perf.empty? %>
      <%= render partial: 'users/performances/tennis_edit_form', locals: {user: @user} %>
        <%else%>
        <div class="tbd">Veux tu faire ce sport ?</div>
        <%= link_to 'Je commence le Tennis !', sport_users_path(sport: :Tennis), method: :post%>
      <%end%>
      </div>
  </div>