<div id="layer-dark"> </div>
<div class="container-dashboard">

  <%= render "modal"%>
  <%= render "modal2"%>
  <%= render "modal3"%>


  <div class="edit-profil-btn">
    <h1>Ton profil  👨🏻‍🎨</h1> 
    <div><%=link_to "Supprimer le compte", user_path(@user), class: 'button delete-btn', method: :delete, data: { confirm: 'Vous allez supprimer le compte, êtes-vous sûr ?'}%></div>
   </div>

  <p id="id-user-local" style="display:none"> <%=current_user.id%> </p>

  <%= render 'edit_info-no-sensitive', user: @user, cities: @cities %>
  <%= render 'edit_info-sensitive', user: @user, cities: @cities %>
  
</div>
