<div class="container-dashboard">
  <div class="wrapper-not-meteo">
    <div class="notification-card card"></div>
    <div class="meteo-card card"></div>
  </div>
    <%= render 'performance_usershow'%>


  <p>
    <strong>First name:</strong>
    <%= @user.first_name ? @user.first_name : 'Donnee non renseignée' %>
  </p>
  <p>
    <strong>Last name:</strong>
    <%= @user.last_name ? @user.last_name : 'Donnee non renseignée' %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @user.description ? @user.description : 'Donnee non renseignée' %>
  </p>
  <p>
    <strong>Adresse:</strong>
    <%= @user.address ? @user.address : 'Donnee non renseignée' %>
  </p>
  <p>
    <strong>City:</strong>
    <%= @user.city ? @user.city.name : 'Donnee non renseignée' %>
  </p>
  <%= button_to 'Se Déconnecter', destroy_user_session_path, :method => :delete, class: 'button primary'%>
  <p id="notice"><%= notice %></p>

  <%= link_to 'Edit', edit_user_path(@user), class:'button primary' %>
  <%= link_to 'Back', users_path, class: 'button primary' %>




  <div class="friends-list">
    <h3>Amis</h3>
    <ul>
      <% @user.friends.each do |friend|%>
        <li>
          <%= link_to friend.full_name, controller: "users", action: "show", id: friend.id %>
        </li>
      <%end%>
    </ul>
  </div>

</div>
