<div class="container-dashboard">
  <% if @user == current_user %>
      <%= render 'current_user_show'%>
    <%else%>
      <%= render 'other_user_show'%>
    <%end%>
  <%if @user.sports.present?%>
    <%= render 'performance_usershow'%>
  <%end%>

  <div class="card">
  <p class="card-title"> Les prochaines evenements à venir pour <%= @user.full_name %> </p>
  <p class="card-icon"> <i class="fa-solid fa-calendar-plus"></i></i> </p> 


  <%if @user_events.empty?%>
      <p> Tu n'as pas encore d'évènements à venir. </p>
      <%= link_to events_path, class: "link-button" do %>
        Voir les events <i class="fa-solid fa-arrow-right"></i> 
      <%end%>
  <%else%>
  <div class="d-flex justify-content-between mt-3">
    <%= render partial: 'events/event_list', locals: {events: @user_events}%>
    <%= render partial: 'events/event_detail', locals: {events: @user_events}%>
  </div>
  <%end%>


</div>
