<div class="card">
  <p class="card-title"> Rencontre des gens lors d'evenements sportifs </p>
  <p class="card-icon"> <i class="fa-solid fa-calendar-plus"></i></i> </p> 
  <div class="container-geoloc">
    <div class="list-container">
      <div class="container">
        <h2> Les evenements autour de toi (scroll)</h2>
        <br>
        <ul>
        <% if @events%>
          <ul class="event-items scrollable-list">
              <% @events.each do |event| %>
                <div class="event-item">
                  <div class="event-date-container"> 
                     <p class="event-date-day"> <%= event.date.strftime("%d")%> </p>
                     <p> <%= event.date.strftime("%B") %>  </p>
                  </div>
                  <div class="event-content"> 
                    <h3> <%= link_to event.title, event_path(event) %>  </h3>

                    <%= render partial: 'event_participations', locals: {event: event}%>

                    <%= event.date.strftime("%Hh%M")%>
                  </div>
                  <div class="button-participate">
                    <% if find_participation(event,current_user)%>
                      <%=button_to event_participation_path(event, find_participation(event,current_user)), method: :delete, :class => "button primary-outline" do %>
                      <i class="bi bi-bookmark-check-fill"></i>&nbsp; Ne plus participer<%end%>
                      </li>
                      <%else%>
                      <%=button_to event_participations_path(event),:class => "button primary" do %>
                      <i class="bi bi-bookmark-plus"></i></i>&nbsp; Participer <%end%>
                      </li>
                    <%end%>
                  </div>


                  <div class="event-sport-tag"> <%=event.sport.name%> </div>
                </div>
              <%end%> 
            <%end%>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
