
        <br>
          <ul class="event-items scrollable-list">
              <% events.each do |event| %>
                <li class="event-item">
                  <div class="event-date-container"> 
                    <p class="event-date-day"> <%= event.date.strftime("%d")%> </p>
                    <p> <%= event.date.strftime("%B") %>  </p>
                  </div>
                  <div class="event-content"> 
                    <h3> <%= link_to event.title, event_path(event) %>  </h3>

                    <%= render partial: 'events/event_participations', locals: {event: event}%>

                    <%= event.date.strftime("%Hh%M")%>
                  </div>
                  
                  <div class="button-participate">
                    <%if find_participation(event,current_user) %>
                      <%=button_to event_participation_path(event, find_participation(event,current_user)), method: :delete, :class => "button primary-outline" do %>
                      <i class="bi bi-bookmark-check-fill"></i>&nbsp; Ne plus participer<%end%>
                      <% elsif event.is_full? %>
                      <button>DESO C'EST PLEIN</button>
                      <%else%>
                      <%=button_to event_participations_path(event),:class => "button primary" do %>
                      <i class="bi bi-bookmark-plus"></i></i>&nbsp; Participer <%end%>
                    <%end%>
                  </div>


                  <div class="event-sport-tag"> <%=event.sport.name%> </div>
                </li>
              <%end%> 
          </ul>

     