<div class="row1-container">
    
      <div class="box box-down orange">
        <h2>Organisateurs</h2>
        <p><%= @event.admin.full_name %></p>
        <i class="fa-solid fa-user" style="font-size: 1.2em"></i>
      </div>

      <div class="box orange">
        <h2>Sport</h2>
        <p><%= @event.sport.french %></p>
        <i class="fa-solid fa-volleyball" style="font-size: 1.2em"></i>
      </div>

      <div class="box box-down orange">
        <h2>Description</h2>
        <p><%= @event.description %></p>
        <i class="fa-solid fa-comment" style="font-size: 1.2em"></i>
      </div>

 </div>
    
    <div class="row2-container">
      <div class="box orange">
        <h2>Date: </h2>
        <p><%= @event.date %></p>
        <i class="fa-solid fa-calendar" style="font-size: 1.2em"></i>
      </div>
    </div>
    
    <div class="row3-container">
      <div class="box orange">
        <h2>Adresse: </h2>
        <p><%= @event.full_address %></p>
        <i class="fa-solid fa-location-dot" style="font-size: 1.2em"></i>
      </div>

      <div class="box orange">
        <h2>Durée: </h2>
        <p><%= @event.duration %></p>
        <i class="fa-solid fa-stopwatch" style="font-size: 1.2em"></i>
      </div>
    </div>

    <div class="button-row">
      <%= link_to 'Editer', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path%>
    </div>  