<div class="show-event-container form-container">

  <div class="event-left-container form-container-left">
    <div class="img-show img-fluid"></div>
  </div>

  <div class="right-container right-content">
    <div class="top-element">
        <div class="twins">
          <h1 class="title"> <strong>Title: </strong><%= @event.title %></h1>
          <div class="title-lign"></div>
        </div>  
     </div>

    <p id="notice"><%= notice %></p>

    <div class="row1-container">
    
      <div class="box box-down cyan">
        <h2>Organisateurs</h2>
        <p><%= @event.admin.full_name %></p>
        <i class="fa-solid fa-user" style="font-size: 1.2em"></i>
      </div>

      <div class="box red">
        <h2>Sport</h2>
        <p><%= @event.sport.name %></p>
        <i class="fa-solid fa-volleyball" style="font-size: 1.2em"></i>
      </div>

      <div class="box box-down blue">
        <h2>City</h2>
        <p><%= @event.city.name %></p>
        <i class="fa-solid fa-city" style="font-size: 1.2em"></i>
      </div>

    </div>
    
    <div class="row2-container">
      <div class="box orange">
        <h2>Date: </h2>
        <p><%= @event.date %></p>
        <i class="fa-solid fa-calendar" style="font-size: 1.2em"></i>
      </div>

      <div class="box purple">
        <h2>Adresse: </h2>
        <p><%= @event.address %></p>
        <i class="fa-solid fa-location-dot" style="font-size: 1.2em"></i>
      </div>
    </div>

    <div class="down-button">
      <%= link_to 'Edit', edit_event_path(@event), class: " button primary" %> |
      <%= link_to 'Back', events_path, class: "button primary"%>
    </div>
  </div>
</div>