<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @event.admin.full_name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @event.sport.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
