<div class="show-event-container form-container">

  <div class="event-left-container form-container-left">
    <div class="img-show img-fluid"></div>
  </div>

  <div class="right-container right-content">
    <div class="top-element">
        <div class="twins">
          <h1 class="title"> <strong>Title: </strong><%= @event.title %></h1>
          <div class="title-lign"></div>
        </div>  
  </div>

    <p id="notice"><%= notice %></p>

<ul>
    
    <li>
      <strong>Admin:</strong>
      <p><%= @event.admin.full_name %></p>
    </li>

    <li>
      <strong>Sport: </strong>
      <p><%= @event.sport.name %></p>
    </li>

   <li>
      <strong>City: </strong>
      <p><%= @event.city.name %></p>
    </li>

    <li>
      <strong>Description: </strong>
      <p><%= @event.description %></p>
    </li>

    <li>
      <strong>Date: </strong>
     <p><%= @event.date %></p> 
    </li>

    <li>
      <strong>Address: </strong>
     <p><%= @event.address %></p> 
    </li>

</ul>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>