<h2>Log in</h2>

<div class="container">

  <div class="container-left">
    <img class="left" src="https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" >
  </div>

  <div class="container-right">

    <div class="right-content"> 
      <div class="top-element">
        <div>
          <h1 class="title">Welcome back</h1>
          <hr class ="title-lign">
        </div>
        <p class ="under-title"> Connecte toi à ton compte pour voir tes amis et tes performances sportives</p>
      </div>
        <div class="middle-element">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
       </div>   
    </div>    
  </div>
</div>