<div class="flex-row-between-flex-start">
    <%=form_for :running_performances, url: running_performances_path, method: :post do |f|%>
    <div class="container">
    <div class="row">
      <div class="input col-sm">
        <p class="input-name">Experience (années)</p>
        <div class="input-wrapper">
          <% if user.get_sport_user("Running") %>
              <%= f.number_field :experience, value:user.get_sport_user("Running").experience ,placeholder: "Depuis combien d'année pratique tu ce sport ?" %>
            <%else%>
              <%= f.number_field :experience ,placeholder: "Depuis combien d'année pratique tu ce sport ?" %>
            <%end%> 
          <i class="fa-solid fa-signal"></i>
        </div> 
      </div>

      <div class="input col-sm">
        <p class="input-name">Frequence (par semaine)</p>
        <div class="input-wrapper">
          <% if user.get_sport_user("Running") %>
              <%= f.number_field :frequency, value:user.get_sport_user("Running").frequency ,placeholder: "Depuis combien d'année pratique tu ce sport ?" %>
            <%else%>
              <%= f.number_field :frequency ,placeholder: "Depuis combien d'année pratique tu ce sport ?" %>
            <%end%> 
          <i class="fa-solid fa-signal"></i>
        </div> 
      </div>

      <div class="input col-sm">
        <p class="input-name">Vitesse</p>
        <div class="input-wrapper">
        <%if user.last_running_perf%>
            <%= f.number_field :speed, value:user.last_running_perf.speed ,placeholder: "Rentrez votre vitesse" %>
          <%else%>
            <%= f.number_field :speed,placeholder: "Rentrez votre vitesse" %>
          <%end%>
          <i class="fa-solid fa-gauge"></i>
        </div> 
      </div>

      <div class="input col-sm">
        <p class="input-name">Distance</p>
        <div class="input-wrapper">
          <%if user.last_running_perf%>
            <%= f.number_field :distance, value:user.last_running_perf.distance ,placeholder: "Rentrez votre vitesse" %>
          <%else%>
            <%= f.number_field :distance,placeholder: "Rentrez votre vitesse" %>
          <%end%>
           <i class="fa-solid fa-ruler-horizontal"></i>
        </div> 
      </div>
      </div>
      </div>

      <div class="input">
      <div class="actions" style="margin:15px 0px 0px 13px">
        <%= f.submit('Sauvegarder') %>
      </div>
      </div>
    <%end%>

    <div > <%= image_tag "running.png" %> </div>
</div>