<div class="flex-row-between-flex-start">
    <%=form_for :tennis_performances, url: tennis_performances_path, method: :post do |f|%>
      <div class="input">
        <p class="input-name">Experience</p>
        <div class="input-wrapper">
          <%= f.number_field :experience, placeholder: "Depuis combien d'année pratique tu ce sport ?" %>
          <i class="fa-solid fa-signal"></i>
        </div> 
      </div>

      <div class="input">
        <p class="input-name">Frequence</p>
        <div class="input-wrapper">
          <%= f.number_field :frequency, placeholder: "Combien de fois par semaines en fait tu ?" %>
          <i class="fa-solid fa-signal"></i>
        </div> 
      </div>
      
      <div class="input">
        <p class="input-name">Rang</p>
        <div class="input-wrapper">
          <%= f.select :rank, TennisRank.all.map{|rank| rank.rank} ,placeholder: "Entrez votre rang" %>
          <i class="fa-solid fa-calendar-range"></i>
        </div> 
      </div>
      <div class="input">
        <div class="actions">
          <%= f.submit('Soumettre') %>
        </div>
      </div>
    <%end%>
    <div > <%= image_tag "tennis.png" %> </div>
</div>