<div class="flex-row-between-flex-start">
    <%=form_for :workout_performances, url: workout_performances_path, method: :post do |f|%>
          <div class="input">
            <p class="input-name">Experience</p>
            <div class="input-wrapper">
              <%= f.number_field :experience, value:user.get_sport_user("Workout").experience ,placeholder: "Depuis combien d'année pratique tu ce sport ?" %>
              <i class="fa-solid fa-signal"></i>
            </div> 
          </div>

          <div class="input">
            <p class="input-name">Frequence</p>
            <div class="input-wrapper">
              <%= f.number_field :frequency, value:user.get_sport_user("Workout").frequency,placeholder: "Combien de fois par semaines en fait tu ?" %>
              <i class="fa-solid fa-signal"></i>
            </div> 
          </div>
          
          <div class="input">
            <p class="input-name">Benchpress</p>
            <div class="input-wrapper">
              <%= f.number_field :benchpress_weight, value:user.last_workout_perf.benchpress_weight , placeholder: "Rentrez votre vitesse" %>
              <i class="fa-solid fa-table-picnic"></i>
            </div> 
          </div>

          <div class="input">
            <p class="input-name">Squat</p>
            <div class="input-wrapper">
              <%= f.text_field :squat_weight, value:user.last_workout_perf.squat_weight,placeholder: "Rentrez votre nombre de squat" %>
             <i class="fa-solid fa-transporter"></i>
            </div> 
          </div>
          
          <div class="input">
            <div class="actions">
              <%= f.submit('Soumettre') %>
            </div>
          </div>
    <%end%>
    <div > <%= image_tag "workout.png" %> </div>
</div>