<%= form_with(model: suggestion, local: true) do |form| %>
  <% if suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
      <% suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partner_id %>
    <%= form.text_field :partner_id %>
  </div>

  <div class="field">
    <%= form.label :accepted %>
    <%= form.check_box :accepted %>
  </div>

  <div class="field">
    <%= form.label :refused %>
    <%= form.check_box :refused %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>