<p id="notice"><%= notice %></p>

<p>
  <strong>Partner:</strong>
  <%= @suggestion.partner %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @suggestion.accepted %>
</p>

<p>
  <strong>Refused:</strong>
  <%= @suggestion.refused %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
